.ui.page.grid
  .ui.row
    .column
      %h1 Welcome to Tournament Manager 
      %p We are building a new way to host tournaments and ladders online for all types of games, ranging from traditional Sports to e-Sports. 
      %p If the is something you'd be interested, please sign up to our newsletter below to keep up to date with whats going on.
  .ui.row
    .ui.two.column.centered.grid  
      .column
        = render 'common/mailchimp_newsletter'



