.ui.page.grid
  .column
    %h1 Tournaments
    %hr
    .ui.cards
      - @tournaments.each do |tournament|
        = render "common/#{tournament.tournament_type}/tournament_card", tournament: tournament


