<div class="row">
<div class="small-12 medium-10 large-8 small-centered">
  <ul>
    <% @tournaments.each do |tournament| %>
      <li><%= tournament.name %></li>
    <% end %>
  </ul>
</div>
</div>





