<div class="ui page grid">
<div class="sixteen wide column">
  <h1>Tournaments</h1>
  <hr>
  
  <ul>
    <% @tournaments.each do |tournament| %>
      <li><%= link_to tournament.name, tournament_path(tournament) %></li>
    <% end %>
  </ul>
</div>
</div>





