.ui.statistics
  .statistic
    .value= player.matches.count
    .label Total Matches
  .statistic
    .value= player.wins.count
    .label Total Wins
  .statistic
    .value= player.loses.count
    .label Total Loses
