


<div class="row">
<div class="small-12 medium-10 large-8 small-centered column">
<h1>Players</h1>
<hr>

  <ul>
    <% @players.each do |player| %>
      <li><%= player.name %></li>
    <% end %>
  </ul>
</div>
</div>

