.ui.fixed.menu
  .ui.page.grid
    .column
      = link_to 'Tournament Manager', root_path, class: 'item header' 
      = link_to nav_icon('Tournaments', 'sitemap'), tournaments_path, class: nav_active_item('tournaments')
      -#= link_to nav_icon('Matches', 'trophy'), matches_path, class: nav_active_item('matches')
      = link_to nav_icon('Players', 'users'), users_path, class: nav_active_item( 'users')

