<nav class="ui fixed menu">
<div class="ui page grid">
  <div class="column">
    <%= link_to 'Tournament Manager', root_path, class: 'item header' %>
    <%= link_to nav_icon('Tournaments', 'sitemap'), tournaments_path, class: nav_active_item('tournaments') %>
    <%= link_to nav_icon('Matches', 'trophy'), '', class: nav_active_item('matches') %>
    <%= link_to nav_icon('Players', 'users'), players_path, class: nav_active_item( 'players')%>
  </div>
</div>
</nav>
